@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap");

* {
  font-family: "Signika Negative", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  list-style-type: none;
  overflow-x: hidden;
}

:root {
  --secondaryColor: black;
  --primaryColor: white;
  --h2FontSize: 1.5rem;
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: relative;
}

.main-cont {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-direction: column;
  gap: 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.links {
  display: flex;
  gap: 50px;
  margin-right: 25px;
}

.links > a {
  font-size: 1.5rem;
  color: white;
}
.links > a:hover {
  text-decoration: underline;
}

#icon {
  display: none;
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  position: absolute;
  top: 15%;
  left: 0;
  width: 100vw;
  height: 200px;
  font-size: var(--h2FontSize);
  background-color: var(--secondaryColor);
}

.dropdown a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.landing {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
  overflow-y: hidden;
  color: white;
}

.landing-heading {
  position: absolute;
  font-size: 4rem;
  border-right: 3px solid var(--primaryColor);
  white-space: nowrap;
  overflow: hidden;
  top: 30%;
}
video {
  width: 100%;
}
.footer {
  background-color: var(--primaryColor);
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  text-align: center;
  height: 150px;
  margin-bottom: 5px;
}

.card1 {
  padding-left: 25px;
}

.card1,
.card3 {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.card2 {
  width: 30%;
}

.firstRow,
.secondRow,
.thirdRow,
.facebook,
.insta {
  display: flex;
  align-items: center;
  gap: 20px;
}
a {
  color: var(--secondaryColor);
  &:hover {
    color: var(--hoverColour);
    cursor: pointer;
  }
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: black;
  color: var(--secondaryColour);
}
.copyright-description {
  font-size: 1.5rem;
  color: var(--primaryColor);
}
.Reachit {
  font-size: 2rem;
  color: red;
}
@media screen and (max-width: 1024px) {
  .landing-heading {
    font-size: 2rem;
    text-wrap: wrap;
  }

  .logo > img {
    width: 120px;
    height: 40px;
  }
  .links {
    display: none;
  }
  a {
    color: black;
    &:hover {
      text-decoration: underline;
    }
  }
  #icon {
    display: block;
    color: white;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    height: 300px;
    justify-content: center;
    gap: 25px;
  }
  .card1,
  .card2,
  .card3 {
    width: 100%;
  }
  .card3 {
    padding-left: 25px;
  }
  .copyright {
    gap: 12.5px;
  }
  .copyright-description {
    font-size: 1rem;
  }
  .Reachit {
    font-size: 1.2rem;
  }
}
